body{
   justify-content: center;
   font-family: "Helvetica Neue",Helvetica,Arial;
   margin: auto;
}

.main-container{
  display: grid;
  grid: 100px 100px 1fr 70px 50px 150px / 1fr;
}

.game-title{
  font-size: 5rem;
  text-align: center;
  padding-top: 1rem;
}

.img-container{
  position: relative;
  border: 1px solid black;
  justify-self: center;
  height: 829px;
  width: 1920px;
}

.box{
  position: absolute;
  background-color: transparent;
  height: 75px;
  width: 75px;
  border: 2.5px solid black;
  pointer-events: none;
}

.find-container{
  display: grid;
  grid: 150px / repeat(3, 150px);
  justify-content: center;
}

.hidden-object{
  background-repeat: no-repeat;
}

.player-input{
  position: absolute;
  top: 10%;
  left: 35%;
  font-size: 1.5rem;
}

.timer-container{
  display: grid;
  justify-content: center;
}

.time{
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}

.score-title{
  text-align: center;
  font-size: 1.5rem;
}

.player-scoreboard{
  display: grid;
  grid: repeat(5, 1fr) / repeat(2, 1fr);
  font-size: 1.5rem;
  grid-auto-flow: column;
  gap: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer{
  display: grid;
  justify-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  color: white;
}
